# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://sb_publishable_Ef9-FmW-g48L55GApEkFhA_ASzEOK9z.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xcmlzYnZpcWVxY29kaHppY3JoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0Njc0NTAsImV4cCI6MjA5MjA0MzQ1MH0.uGUOCoR3Hf-so-7nOkatUsZl5kYwoqLBKr4nxDF7-mU
